body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}
